//Variables
$color_ppal:#f8f9fa;
$color_fondo:rgb(249, 255, 170);
$color_letra_main:black;
$color_borde:rgba(195, 236, 132, 0.822);

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

a{
    color:$color_letra_main;
    text-decoration: none;
}

ul li{
    list-style: none;
}

body{
    background-color:$color_fondo ;
    display: grid;
    grid-template-rows: auto 2fr 70px;
    grid-template-areas: "header" "main" "footer";
}

header{
    position: sticky;
    z-index: 100;
    top: 0;
    background-color:$color_ppal;
}

footer{
    position: fixed;
    width: 100%;
    border-top: 0.5px dotted $color_borde;
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    background-color:$color_ppal;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}
/*Index*/


.botonIndex{
    margin: 10px auto;
}

.galeriaIndex{
    display: none;
}

@media (max-width:991px) {
    .galeriaIndex{
        display: grid;
    }
    .imagenesIndex{
        display: none;
    }
}

/*Fin Index*/

/*Contacto*/

.publicidadPantallaChica{
    display: none;
}

@media (max-width:767px){
    .mapaContacto iframe{
        height: 300px;
    }
    .publicidad{
        display: none;
    }
    .publicidadPantallaChica{
        display:flex;
    }
}

/*Fin Contacto*/

/*Nosotros*/

.contNosotros{
    .row{font-size: 20px;}
    img{border: 13px groove #6219ba;}
    h3{font-size: 35px;}
}


/*Fin Nosotros*/

/*WorkWithUs*/

textarea{
    resize: none;
}

.acuerdoConfidencialidad{
    border:0.1px dotted black;
    height: 20%;
    background-color: $color_ppal;
    border-radius: 20px;
}

/*Fin WorkWithUs*/